h1, h2 {
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  .quote {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 75;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
  }